
{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
   
    <title>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Blog</title>
 
      <div class="form-container">
        <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Blog</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'blog_list' %}">Cancel</a>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</div>

{% endblock content %}