<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Courses</title>
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>
<body>
    <div>
      <marquee behavior="" direction=""> <h1>Live Courses With Class Records</h1></marquee> 
    </div>
    <div class="container">
        <header>
            <div>
            <h2>Available Courses</h2>
        </div>
            <div>
            <a href="{% url 'dashboard' %}" class="btn btn-back">Back to Dashboard</a>
            {% if user.user_type == 'CCN' or user.user_type == 'ADM' %}
            <a href="{% url 'course_create' %}" class="btn-create">Create New Course</a>
            {% endif %}
        </div>
        </header>
        <div style="height: 50px;"></div>
        <div class="course-grid">
            {% for course in courses %}
            <div class="course-card">
                <img src="{{ course.image.url }}" alt="{{ course.course_name }}" class="course-image">
                <div class="course-info">
                    <h2>{{ course.get_course_name_display }}</h2>
                    <p>{{ course.description|truncatewords:20 }}</p>
                    <p><strong>Instructor:</strong> {{ course.instractor.name }}</p>
                    <p><strong>Start Date:</strong> {{ course.start_class }}</p>
                    <p><strong>Course Fee:</strong> ${{ course.course_fee }}</p>
                    <div class="course-actions">
                        <a href="{% url 'course_detail' course.pk %}" class="btn-detail">View Details</a>
                        {% if user.user_type == 'CCN' or user.user_type == 'ADM' %}
                        <a href="{% url 'course_update' course.pk %}" class="btn-update">Edit</a>
                        <a href="{% url 'course_delete' course.pk %}" class="btn-delete">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
