<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
    <link rel="stylesheet" href="{% static 'css/enroll.css' %}">
</head>
<body>
    <h1>Are you sure you want to delete {{ enrolled }}?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a href="{% url 'enrolled_list' %}">Cancel</a>
</body>
</html>
